
  
  <div class="row">
    
    <!-- Card for the first uploaded image -->
    <div class="col-md-6">
      <div class="card">
        <img src="../../../../assets/IMG-20240801-WA0005.jpg" class="card-img-top_857" alt="Power One Micro Systems 1">
        <div class="card-body">
          <h5 class="card-title">Power One Micro Systems</h5>
          <table class="table">
            <tbody>
              <tr>
                <th>Model</th>
                <td>DATATECH OEDA 16.1 HH</td>
              </tr>
              <tr>
                <th>Serial No</th>
                <td>SB10061767</td>
              </tr>
              <tr>
                <th>Refrigrant</th>
                <td>R410A</td>
              </tr>
            </tbody>
          </table>
          <a href="http://172.16.26.51/" class="btn btn-primary">Click for Monitoring</a>
        </div>
      </div>
    </div>
    
    <!-- Card for the second uploaded image -->
    <div class="col-md-6">
      <div class="card">
        <img src="../../../../assets/IMG-20240801-WA0004.jpg" class="card-img-top_856" alt="Power One Micro Systems 2">
        <div class="card-body">
          <h5 class="card-title">Power One Micro Systems</h5>
          <table class="table">
            <tbody>
              <tr>
                <th>Model</th>
                <td>DATATECH OEDA 16.1 HH</td>
              </tr>
              <tr>
                <th>Serial No</th>
                <td>GB10061768</td>
              </tr>
              <tr>
                <th>Refrigrant</th>
                <td>R410A</td>
              </tr>
            </tbody>
          </table>
          <a href="http://172.16.26.52/" class="btn btn-primary">Click for Monitoring</a>

        </div>
      </div>
    <!-- <div class="footer-content">
      <h3>Contact Support</h3>
      <p>Satya Parkash : 8527298880</p>
      <p>Raju(IT Dept.): 9880736224</p>
      <p>Amit(Service Eng.): 7289040777</p>
      <p>Anil(Service Eng.): 8527298883</p>
      <p>Email: <a href="mailto:support@example.com">supportexample.com</a></p>
    </div> -->
  </div>
  