<div class="card">
  <div class="card-header">
    <h5 class="card-title">Phase correction steps
    </h5>
  </div>
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Correction (Hz)</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows; let i = index">
          <td>
            <input type="text" class="form-control" [(ngModel)]="row.input3" />
          </td>
          <td>
            <button class="btn btn-success" (click)="applyChanges()">Apply</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
