<div class="container">
    <!-- First Row: Three Equal-Sized Columns -->
    <c-row>
      <c-col xs="12" md="4">
      <app-tic-data></app-tic-data>
      </c-col>
      <c-col xs="12" md="4">
        <app-frequency-offset></app-frequency-offset>
      </c-col>
      <c-col xs="12" md="4">
        <app-phase-correction></app-phase-correction>
      </c-col>
    </c-row>
  
    <!-- Second Row: Two Equal-Sized Columns -->
    <c-row>
      <c-col xs="12" md="8">
        <app-rubidium-steering></app-rubidium-steering>
      </c-col>
      <c-col xs="12" md="4">
        <c-card class="mb-4">
          <c-card-header>Column 2</c-card-header>
          <c-card-body>
            Content for Column 2
          </c-card-body>
        </c-card>
      </c-col>
   
    </c-row>



    <c-row>
        <h1>this is third row</h1>
    </c-row>
  </div>
  