<div class="card">
  <div class="card-header">
    <h5 class="card-title">Frequency Adjustment
    </h5>
  </div>
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Steering Interval</th>
          <th>Frequency Adjustment</th>
          <th>Phase Adjustment</th>


        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="text" class="form-control" placeholder="Number in Seconds" />
          </td>
          <td>
            <input type="text" class="form-control" placeholder="Slope Multiplier" />
          </td>
          <td>
            <input type="text" class="form-control" placeholder="Phase Time Constant" />
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <button class="btn btn-success">Apply</button> &nbsp; &nbsp;
            <button class="btn btn-danger">Stop</button>
          </td>

        </tr>
      </tbody>
    </table>

  </div>
  <div class="card-body">


  </div>
