<c-col>

  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Initial Time Offset Adjustment
      </h5>
    </div>
    <div class="card-body">

      <div class="container">

        <div class="t">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan="2">Phase Adjustment(s) [upto 100ns]</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input id="phaseValue" type="text" class="form-control" [(ngModel)]="phaseValue"
                    placeholder="Enter phase adjustment in seconds" />
                </td>
                <td>
                  <button class="btn btn-success" (click)="applyPhaseAdjustment()">Apply</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="value-box">
          <strong>TIC Value:</strong>
          {{ ticValue && ticValue.value ? formatToNanoseconds(ticValue.value) : 'Waiting ns....' }} ns
        </div>
      </div>
      <button (click)="applyPD()">
        <div class="value-box">
          <strong>PD Value:</strong>
          {{ PDValue || 'No response yet.' }}
        </div>
      </button>
      <div>
        <!-- <button (click)="applyPD()">Apply PD</button>
        <div class="response-box">
          <strong>PD Value:</strong> {{ PDValue || 'No response yet.' }}
        </div> -->
      </div>


    </div>
  </div>
</c-col>
