<p>white-rabbit works!</p> 
<div class="container">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">OFC LINK BETWEEN NPL TO FARIDABAD (Dark Fibre)</h3>
<!-- 
          <h5 class="contact-h5">Hariom (Manager) - 8700039314</h5>
          <h5 class="contact-h5">Deepak (Delhi Team) -9870374206</h5>
          <h5 class="contact-h5">Kishanbir fibre testing (At NPL side) - 7217892109</h5>
          <h5 class="contact-h5">Arbind (RRSL FARIDABAD) - 9113706833</h5> -->
        </div>
        <table class="table" [cBorder]="2" borderColor="primary" bordered cTable>
            <thead>
            <tr>
              <th scope="col">S.No.</th>
              <th scope="col">Name</th>
              <th scope="col">Designation</th>
              <th scope="col">Contact</th>
              <th scope="col">Organization</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Hariom</td>
              <td>Sr.Manager</td>
              <td>8700039314</td>
              <td>Reliance Jio</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Deepak</td>
              <td>Delhi Jio Manager</td>
              <td>9870374206</td>
              <td>Delhi Jio</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Kishanbir</td>
              <td>Service Engineer</td>
              <td>7217892109</td>
              <td>Delhi Jio</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Arvind</td>
                <td>Network Engineer</td>
                <td>9113706833</td>
                <td>RRSL Faridabad</td>
              </tr>
            </tbody>
          </table>
          
    </div>
</div>