
<div class="row">


    <div class="container-fluid container-md">
        <div class="row">
            <div class="col-sm-2 col-xl-2">
                <img src="assets/images/logoleft.png" class="img-fluid " alt="nplindia" />
            </div>

            


            <div class="col-sm-8 col-xl-8">
                <div class="text-center">
                    <div class=" navbar-text mb-0 h1 mx-auto npl-logo">
                        CSIR-National Physical Laboratory
                    </div>
                    <div class=" navbar-text mb-0 h3 mx-auto text-primary">
                        "National Measurement Institute of India"
                    </div>
                </div>
            </div>

            <div class="col-sm-2 col-xl-2">
                <img src="assets/images/logo-right.png" class="img-fluid " alt="nplindia" />
            </div>
        </div>

    </div>

</div>
<br>
<br><br>
<div class="content container" id="c">
    <article class="prime" role="main" style="min-height: 2454px;">
    <header class="has-post-thumbnail">
    <h1 class="entry-title" itemprop="headline" style="font-size:30px;">Synchronize Windows Clock With NPL India Time Server</h1>
    </header>
    <br>
    <div class="meat" itemprop="articleBody">
        <ul>
            <li>
                Right-click your clock and choose <b>Adjust date/time</b>
                <br/><img src = "/assets/images/1.jpg" />
            </li>
            <br>
            <li>
                Click on the <b>Internet Time</b> tab and then the <b>Change Settings button</b>
                <br/><img src = "/assets/images/2.jpg" /><br/>
                <br><img src = "/assets/images/3.jpg" />
            </li>
            <br>
            <li>
                Replace the default time server with <b>time.nplindia.org</b>
                <br/><img src = "/assets/images/4.jpg" />
            </li>
            <br>
            <li>
                Click <b>Update Now</b>
            </li>
            <br>
            <li>
                If the clock is not synchronized successfully, Click <b>Update Now</b> again
            </li>
        </ul>
    </div>